<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>theFarmer</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/modal-video/css/modal-video.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

<!-- =======================================================
Theme Name: theFarmer
Theme URL: https://bootstrapmade.com/theFarmer-bootstrap-landing-page-template/
Author: BootstrapMade.com
License: https://bootstrapmade.com/license/
======================================================= -->

</head>

<body ng-app="myApp" ng-controller="myCtrl">

  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto"><span>the</span>Farmer</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <!-- <li><a href="#about-us">About</a></li> -->
          <!-- <li><a href="#features">Features</a></li> -->
          <!-- <li><a href="#screenshots">Screenshots</a></li> -->
          <li><a href="#team">Team</a></li>
          <!-- <li><a href="#pricing">Pricing</a></li> -->
          <li class="menu-has-children"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <!-- <li><a href="#blog">Blog</a></li> -->
          <!-- <li><a href="#contact">Contact</a></li> -->
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

<!--==========================
Sensors List
=========================== -->

<section class="padd-section text-center wow fadeInUp">
  <h1>Sensors List</h1> 
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Position: Latitude, Longitude</th>
          <th>Battery</th>
          <th>Humidity</th>
          <th>Temperature</th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="mote in motes" ng-click="setCurrentMote(mote)">
            <td>{{mote.id}}</td>
            <td>{{mote.latitude}}, {{mote.longitude}}</td>
            <td>{{mote.battery}}</td>
            <td>{{mote.humidity}}</td>
            <td>{{mote.temperature}}</td>
          </tr>
      </tbody>
    </table>
  </div>
</section>

<!--==========================
Sensor Details
=========================== -->

<section class="padd-section text-center wow fadeInUp" ng-hide="!isMoteSelected()">
  <div class="container">
    <div class="jumbotron">
      <h1>Sensor Management</h1>
      <div>
      </div>
    </section>

<!--==========================
Footer
============================-->
<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-lg-4">
        <div class="footer-logo">

          <a class="navbar-brand" href="#">theFarmer</a>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the.</p>

        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="list-menu">

          <h4>Abou Us</h4>

          <ul class="list-unstyled">
            <li><a href="#">About us</a></li>
            <li><a href="#">Features item</a></li>
            <li><a href="#">Live streaming</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>

        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="list-menu">

          <h4>Abou Us</h4>

          <ul class="list-unstyled">
            <li><a href="#">About us</a></li>
            <li><a href="#">Features item</a></li>
            <li><a href="#">Live streaming</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>

        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="list-menu">

          <h4>Support</h4>

          <ul class="list-unstyled">
            <li><a href="#">faq</a></li>
            <li><a href="#">Editor help</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>

        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="list-menu">

          <h4>Abou Us</h4>

          <ul class="list-unstyled">
            <li><a href="#">About us</a></li>
            <li><a href="#">Features item</a></li>
            <li><a href="#">Live streaming</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>

        </div>
      </div>

    </div>
  </div>

  <div class="copyrights">
    <div class="container">
      <p>&copy; Copyrights theFarmer. All rights reserved.</p>
      <div class="credits">
<!--
All the links in the footer should remain intact.
You can delete the links only if you purchased the pro version.
Licensing information: https://bootstrapmade.com/license/
Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=theFarmer
-->
Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
</div>
</div>
</div>

</footer>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/jquery/jquery-migrate.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="lib/superfish/hoverIntent.js"></script>
<script src="lib/superfish/superfish.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/modal-video/js/modal-video.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="contactform/contactform.js"></script>
<!-- AngularJs Libraries -->
<script type="text/javascript" src="lib/angularJs/angular.js"></script>
<script type="text/javascript" src="lib/angularJs/angular-websocket.js"></script>
<!-- Sensor Javascript File -->
<script type="text/javascript" src="js/sensorsList.js"></script>
<!-- Template Main Javascript File -->
<script src="js/main.js"></script>

</body>
</html>
